@charset "UTF-8";
.headerWrap {background:#0023a3; color:#fff;}
.headerWrap a  {color:#fff;}
.footerWrap {background:#0023a3; color:#fff;}
table {border-collapse: collapse;}
.exJumin {display:inline-block; padding:2px 10px;}